page {
  --page-gap: 15px;
  --tabbar-height: 60px;
  --ios-bottom-height: 0px;
}


// #ifdef  MP

// 组件标签
[is] {
  display: contents;
}

// 组件插槽标签
.is__view__root :first-child:not([class]):last-child:not([class]) {
  display: contents;
}

// #endif


.page-root {
  min-height: calc(100vh - var(--window-top));
  box-sizing: border-box;
  position: relative;
  padding-bottom: calc(var(--ios-bottom-height) + var(--window-top));
}

.tab-bar-page-root {
  min-height: calc(100vh - var(--window-top));
  box-sizing: border-box;
  position: relative;
  padding-bottom: calc(var(--ios-bottom-height) + var(--window-top) + var(--tabbar-height));

}


button:after {
  border: none;
}

[mode="widthFix"][mode="widthFix"] {
  height: auto;
}


/* 解决小程序和app滚动条的问题 */
/* #ifdef MP-WEIXIN || APP-PLUS */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

/* #endif */

/* 解决H5 的问题 */
/* #ifdef H5 */
uni-scroll-view .uni-scroll-view::-webkit-scrollbar {
  /* 隐藏滚动条，但依旧具备可以滚动的功能 */
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

/* #endif */

/* 阴影 */
/* #ifndef APP-PLUS-NVUE */
.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.shadow-lg {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.175);
}

.shadow-none {
  box-shadow: none !important;
}

/* #endif */

/* 圆角 */
.rounded {
  border-radius: 8rpx;
}

.rounded-top {
  border-top-left-radius: 8rpx;
  border-top-right-radius: 8rpx;
}

.rounded-right {
  border-top-right-radius: 8rpx;
  border-bottom-right-radius: 8rpx;
}

.rounded-bottom {
  border-bottom-right-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
}

.rounded-left {
  border-top-left-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
}

.rounded-circle {
  border-radius: 100rpx;
}

.rounded-0 {
  border-radius: 0;
}

/* 边框 */
.border {
  border-width: 1rpx;
  border-style: solid;
  border-color: #dee2e6;
}

.border-top {
  border-top-width: 1rpx;
  border-top-style: solid;
  border-top-color: #dee2e6;
}

.border-right {
  border-right-width: 1rpx;
  border-right-style: solid;
  border-right-color: #dee2e6;
}

.border-bottom {
  border-bottom-width: 1rpx;
  border-bottom-style: solid;
  border-bottom-color: #dee2e6;
}

.border-left {
  border-left-width: 1rpx;
  border-left-style: solid;
  border-left-color: #dee2e6;
}
